{% extends 'template_business.html.twig' %}

{% block title article.articleName  %}

{% block body %}
    <div class="container mt-3" style="border-style: groove;background-color: white">
        <div class="row justify-content-between">
            <div class="col-md-2">
                    <img  style="width: 100%; height: 200px;" class="image-style img-responsive" src="{{ asset('uploads/images_articles/'~article.BiceaAdmin.id~'-'~ article.articleName~'/'~ article.image) }}" height="200" alt="{{ article.articleName }}" />
           </div>
            <div class="col-md-8">
                <h3>{{ article.articleName }}</h3>
                <h5>Carateristiques:</h5>
                <p>{{ article.description  | nl2br  }}</p>

            </div>
            <div class="col-md-2" style="border: 1px solid #d7d9e4;padding: 10px 10px;text-align: center;">
                <div class="car">
                    <div class="card-body">
                        <h5 class="card-title" style="color: red">
                            {{ article.unitPrice }} €/{{ article.articleQuantity }} {{ article.unit }}
                        </h5>
                        <p class="card-text">
                            <form action="{{ path('add.panier', {'id': article.id}) }}" method="get">
                        Quantité <input  type="number" style="width: 30%" max="99" min="1" name="qte"/>
                        </p>
                        <p class="card-text">
                            <button class="btn btn-success btn-lg" >Au panier!</button>
                        </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


