{% extends 'template.html.twig' %}
{% block title %}Enregistrement d'un article{% endblock %}
{% block body %}


    <div class="container" xmlns="http://www.w3.org/1999/html">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-10">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h4><span class="glyphicon glyphicon-plus"></span> Enregistrer un article</h4>
        {{ form(form) }}

    </div>
    <div class="container">
        <h4><span class="glyphicon glyphicon-th-list"> </span> Listes des articles</h4>
        <div class="table-responsive">
            <table class="table table-hover">

                <thead>
                <tr>
                    <th scope="col">Noms</th>
                    <th scope="col">Description</th>
                    <th scope="col">Comment</th>
                    <th scope="col">categorie</th>
                    <th scope="col">prix unitaire</th>
                    <th scope="col"><span class="glyphicon glyphicon-calendar"> </span> Dates</th>
                    <th scope="col"><span class="glyphicon glyphicon-cog"></span> Actions </th>
                </tr>
                </thead>
                {% for article in articles %}
                    <tbody>
                    <tr>
                        <td>{{ article.articleName |truncate(25, false, '...')}}</td>
                        <td>{{ article.description |truncate(55, false, '...') }}</td>
                        <td>{{ article.comment |truncate(55, false, '...') }}</td>
                        <td>{{ article.BuCategory.categoryName |truncate(55, false, '...') }}</td>
                        <td>{{ article.unitPrice |truncate(55, false, '...') }}</td>
                        <td>{{ article.createdAt| date('d/m/Y' ) }}</td>
                        <td>
                            <a href="{{ path('edit_bu_article', {'id': article.id}) }}" class="btn btn-warning"><strong class="glyphicon glyphicon-pencil"> Modifier</strong></a>
                            <a href="{{ path('delete_bu_article', {'id': article.id}) }}" class="btn btn-danger"> <strong class="glyphicon glyphicon-remove"> Supprimer</strong></a>
                        </td>

                    </tr>

                    </tbody>
                {% endfor %}
            </table>

        </div>

    </div>


{% endblock %}