{% extends 'template.html.twig' %}
{% block title %}Enregistrement d'une tache{% endblock %}
{% block body %}


    <div class="container" xmlns="http://www.w3.org/1999/html">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-10">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h4><span class="glyphicon glyphicon-plus"></span> Enregistrer une tache</h4>
        {{ form(form) }}

    </div>
    <div class="container">
        <h4><span class="glyphicon glyphicon-th-list"> </span> Listes des taches</h4>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Nom du de la taches</th>
                    <th scope="col">Description</th>
                    <th scope="col"><span class="glyphicon glyphicon-calendar"> </span> Dates</th>
                    <th scope="col"><span class="glyphicon glyphicon-cog"></span> Actions </th>
                </tr>
                </thead>
                {% for task in tasks %}
                    <tbody>
                    <tr>
                        <td>{{ task.taskName |truncate(25, false, '...')}}</td>
                        <td>{{ task.description |truncate(55, false, '...') }}</td>
                        <td>{{ task.createdAt| date('d/m/Y' ) }}</td>
                        <td>
                            <a href="{{ path('edit_pr_task', {'id': task.id}) }}" class="btn btn-warning"><strong class="glyphicon glyphicon-pencil"> Modifier</strong></a>
                            <a href="{{ path('delete_pr_task', {'id': task.id}) }}" class="btn btn-danger"> <strong class="glyphicon glyphicon-remove"> Supprimer</strong></a>
                        </td>

                    </tr>

                    </tbody>
                {% endfor %}
            </table>

        </div>

    </div>


{% endblock %}