{% extends 'template.html.twig' %}
{% block title %}Enregistrement d'un pôle{% endblock %}
{% block body %}


    <div class="container" xmlns="http://www.w3.org/1999/html">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-10">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h4><span class="glyphicon glyphicon-plus"></span> Enregistrer un pôle</h4>
        {{ form(form) }}

    </div>
    <div class="container">
        <h4><span class="glyphicon glyphicon-th-list"> </span> Listes des pôles</h4>
        <div class="table-responsive">
            <table class="table table-hover">

                <thead>
                <tr>
                    <th scope="col">Noms</th>
                    <th scope="col">Descriptions</th>
                    <th scope="col"><span class="glyphicon glyphicon-comment"> </span> Commentaires</th>
                    <th scope="col"><span class="glyphicon glyphicon-calendar"> </span> Dates</th>
                    <th scope="col"><span class="glyphicon glyphicon-cog"></span> Actions </th>
                </tr>
                </thead>
                {% for pole in poles %}
                    <tbody>
                    <tr>
                        <td>{{ pole.nom |truncate(25, false, '...')}}</td>
                        <td>{{ pole.description |truncate(55, false, '...') }}</td>
                        <td>{{ pole.comment |truncate(30, false, '...') }}</td>
                        <td>{{ pole.Date| date('d/m/Y' ) }}</td>
                        <td>
                            <a href="{{ path('edit_pole', {'id': pole.id}) }}" class="btn btn-warning"><strong class="glyphicon glyphicon-pencil"> Modifier</strong></a>
                            <a href="{{ path('delete_pole', {'id': pole.id}) }}" class="btn btn-danger"> <strong class="glyphicon glyphicon-remove"> Supprimer</strong></a>
                        </td>

                    </tr>

                    </tbody>
                {% endfor %}
            </table>

        </div>

    </div>


{% endblock %}