
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('administrator/dist/img/user2-160x160.jpg')}}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">

                    <p>{{ companyName }} </p>

                <a href="#"><i class="fa fa-circle text-success"></i> {{ user.firstName }}</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Rechercher...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Navigation principale</li>
                <li class="active ">
                    <a href="{{ path('homePageUser') }}"><i class="fa fa-dashboard"></i> Tableaux de bord</a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-eye"></i> <span>Projets</span>
                        <span class="pull-right-container">
                  <small class="label pull-right bg-green">nouveau</small>
                </span>
                    </a>
                </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Statistiques</span>
                    <span class="pull-right-container">
                              <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
                    <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
                    <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Comptabilités</span>
                    <span class="pull-right-container">
                         <span class="label label-primary pull-right">3</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('functions') }}"><i class="fa fa-circle-o"></i> Regler Fournisseur</a></li>
                    <li><a href="{{ path('users') }}"><i class="fa fa-circle-o"></i> Payer Frais</a></li>
                </ul>
            </li>

            <!-- sidebar menu: : style can be found in sidebar.less -->


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Business</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Clients</a></li>
                    <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Fournisseur</a></li>
                    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Produits Importer</a></li>
                    <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Produits Exporter</a></li>
                    <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Magasin</a></li>
                    <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Transports</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Opérations</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Acheter un produit</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Vendre un produit</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Mouvements</span>
                    <span class="pull-right-container">
                             <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Produits vendus</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Produits achetés</a></li>
                </ul>
            </li>
            <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Aller sur le site</span></a></li>
            <li class="header">Plus d'informations</li>
            <li><a href=""><i class="fa fa-circle-o text-yellow"></i> <span>Actions</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Réglements</span></a></li>
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>